.form {
  text-align: center;

  mat-form-field {
    margin: 0 5px;
  }
}

.rightButton {
  text-align: right;

  button {
    margin-left: 20px;
  }
}

.centerButton {
  text-align: center;
}

pre {
  white-space: pre-wrap;
}

.app-content {
  width: 600px;
  margin: 20px auto;
}
